.sidebar {
  background-image: linear-gradient( #FCCCBB, #FFD89E);
  overflow-y: auto;
  position: fixed;
  left: 0;
  height: 100%;
  width: 70px;
  // padding-bottom: 30px;
  transition: 300ms all linear;


  .headlogo{
    font-family:Courier;
    font-weight: 800;
    color: #F26C3D;
    margin-top: 22px;
    text-align: center;
  }

  .sidebar-item {
    margin: 20px;
    margin-bottom: 40px;
    color: #ffffff;

  }

}

.showSide:focus {

  height: 100%;
  width: 170px;


}

.fa{
  font-size: 32px;

}
.fa:hover{
  cursor: pointer;
  // color: #F26C3D;
  // opacity: 0.4;
}

.fa:focus{
 color: #F26C3D;
 outline: none;
  // .fa:hover{
  //   opacity: 1;
  // }

}

.fa-bars{
  bottom: 10px;
  left: 21px;
  position: fixed;
}

// .hamburgur {

//   @media (min-width: 992px) {
//     display: none;
//   }
// }

.hideNav {
 color: black;
}

.showNav {
  color: #F26C3D;
}

// .focus:hover{
//   border-left: 4px solid plum;
//   padding-left: 0;
//   height: 55px;
//   position: relative !important;
// }

