.sidebar {
  background-image: linear-gradient( #FCCCBB, #FFD89E);
  overflow-y: auto;
  position: fixed;
  left: 0;
  height: 100%;
  width: 70px;
  // padding-bottom: 30px;
  transition: 300ms all linear;

  .headlogo{
    font-family:Courier;
    font-weight: 800;
    color: #F26C3D;
    margin-top: 22px;
    text-align: center;
  }

  .sidebar-item {
    margin: 20px;
    margin-bottom: 40px;
    color: #ffffff;

  }

}

.showSide:focus {

  height: 100%;
  width: 170px;


}

.fa{
  font-size: 32px;

}
.fa:hover{
  cursor: pointer;
  color: #F26C3D;

}
.fa:focus{
  outline: none;
}

.fa-bars{
  bottom: 10px;
  left: 21px;
  position: fixed;
}

.hideNav {
 color: black;
}

.showNav {
  color: #F26C3D;
}
