.card-header{
  border: none;
  height: 60px;
  width: 100%;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
}
.head{
  margin-top: 10px;
  font-size: 20px;
}
.card{
  margin: 20px;
  border: transparent;
}
.btn:hover{
  color: #ffffff;
}
.fa:hover{
  cursor: pointer;
}
