<div class="card-header">
  <div class="head">My Todolist<hr></div>
  <div class="card-body row">
    <div>
      day
      <div class="row">
        <input class="form-control col-10 " type="text" placeholder="Add todolist">
        <button type="button col-1" class="btn btn-outline-warning">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>


    </div>
    <!-- <div class="card">
      month
    </div>
    <div class="card">
      year
    </div> -->
  </div>
</div>
