<div class="card-header">
  My <span style="color: #F26C3D">Todo</span>list
  <hr />
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body ">
    <h6 class="card-title text-center">Todö Task</h6>
    <div class="input-group mb-2">
      <div class="col-10 pl-0">
      <input type="text"
              #itemTitle class="form-control"
              style="cursor: pointer;"
              placeholder="Add todo task" ></div>
      <button type="button col-1" class="btn btn-outline-warning"
              (click)= onAdd(itemTitle)>
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>

    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of todolistArray">
        <span [class.text-success]="item.isChecked"
              (click)="cheacked(item.$key,item.isChecked)">
          <i class="fa fa-lg" [ngClass]="item.isChecked?'fa fa-hand-peace-o':'fa fa-hand-spock-o'"></i>
        </span>
        &nbsp;{{item.title}}
        <span class="text-danger pull-right" (click)="delete(item.$key)">
          <i class="fa fa-trash-o fa-lg"></i>
        </span>
      </li>
    </ul>

  </div>
</div>


<!-- <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Delete confirmation</h4>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="dateOfBirth">Confirm to delete ?</label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template> -->
