.scroll-to-top {
  position: fixed;
  margin: 15px;
  bottom: 15px;
  right: 10px;
  opacity: 0;
  transition: all .2s ease-in-out;

 }
 .show-scrollTop {
  opacity: 1;
  transition: all .2s ease-in-out;
 }

//  .btn{
//    height: 15px;
//    width: 15px;
//    color: black;
//  }
 .fa{
   color: white;
 }

 .btn-nat{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(233, 233, 233);
  border-color: transparent;
  opacity: .65;


 }
 .btn-nat:focus{
  outline: none;

 }

 .btn-nat:hover{
   opacity: 0.9;
 }
