
<div class="card-header">
  My Card <span style="color: #F26C3D">Todo</span>list
  <hr />
</div>

<!-- <div class="content-frame"  *ngFor="let item of todolistArray">
<ul class="card">
  <li class="card-item" >
    <span [class.text-success]="item.isChecked"
          (click)="cheacked(item.$key,item.isChecked)">
      <i class="fa fa-lg" [ngClass]="item.isChecked?'fa fa-hand-peace-o':'fa fa-hand-spock-o'"></i>
    </span>
    &nbsp;{{item.title}}
    <span class="text-danger pull-right" (click)="delete(item.$key)">
      <i class="fa fa-trash-o fa-lg"></i>
    </span>
  </li>
</ul>
</div> -->

<!-- ------------------------- -->

<!-- <div class="table row"  *ngFor="let item of todolistArray">
  <div class="contrainer ">
      <div class="card">
               {{item.title}}
      </div>
    </div>
</div> -->
